># <center> <font color='red'> CMPE428 - DATA SCIENCE </font> </center>
>## <center> <font color='blue'> Assignment 1 - Built-in Types in Python </font>  </center>

Create a tuple including elements 5,10,15,20 and display the tuple

In [ ]:

tup=(5,10,15,20)

:

Print the sum of the elements of the tuple

50

Concatenate tuple with the tuple (1,2,3) and print the resultant tuple

(5, 10, 15, 20, 1, 2, 3)

duplicate the tuple 5 times as a new tuple

(5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20)

unpack tuple into three variables, a,b, c and d

In [92]:

a, b, c, d

(5, 10, 15, 20)

Access the elements of the tuple in a for loop one by one and display their square roots

In [93]:
import math

2.23606797749979
3.1622776601683795
3.872983346207417
4.47213595499958

Create a an empty list named as myList

In [94]:
myList =

Add the elements 5,10,15 and 20 one by one to the list

In [95]:





myList

[5, 10, 15, 20]

Display the list in reverse order

In [96]:
myList[   ]

[20, 15, 10, 5]

Insert the string "abc" to the index 2

In [97]:

myList

[5, 10, 'abc', 15, 20]

Pop the string inserted

In [98]:

myList

[5, 10, 15, 20]

Remove 15 from the list

In [99]:

myList

[5, 10, 20]

Write an expression to check if the list contains 15

False

Create a new list by concatenated myList and ['a','b','c']

In [101]:

myList

[5, 10, 20, 'a', 'b', 'c']

Extend a myList by appending elements [1,2,3] using the extend method

In [102]:

myList

[5, 10, 20, 'a', 'b', 'c', 1, 2, 3]

Create a dictionary named as myDict with the following keys/value pairs:
'a':'foo'
'b': [1,2,3,4]

In [103]:

myDict

{'a': 'foo', 'b': [1, 2, 3, 4]}

Display the value corresponding to key 'b'

[1, 2, 3, 4]

Add a dictionary element with key 'c' and value '428'

In [105]:

myDict

{'a': 'foo', 'b': [1, 2, 3, 4], 'c': '428'}

Remove the dictionary entry corresponding to key 'b'

In [106]:

myDict

{'a': 'foo', 'c': '428'}

print the list of keys in myDict

dict_keys(['a', 'c'])

print the list of values in myDict

dict_values(['foo', '428'])

Iterate through a dictionary's keys and values:

a foo
c 428

Append multiple key/value pairs to myDict

In [110]:

myDict

{'a': 'foo', 'c': '428', 'e': 'elephant', 'f': 'fish'}

Create a set with elements 0, 1, 2, 3, 4, 5

In [111]:

mySet1

{0, 1, 2, 3, 4, 5}

Create another set with elements 4,5,6,7,8

In [112]:

mySet2

{4, 5, 6, 7, 8}

Define mySet3 as the union of mySet1 and mySet2

In [113]:

mySet3

{0, 1, 2, 3, 4, 5, 6, 7, 8}

Define mySet3 as the intersection of mySet1 and mySet2

In [114]:

mySet3

{4, 5}

Define mySet3 as the elements in mySet1 but not in mySet2

In [115]:

mySet3

{0, 1, 2, 3}

Define mySet3 as the elements that are in either mySet1 or mySet2 but not in both

In [116]:

mySet3

{0, 1, 2, 3, 6, 7, 8}